@model List<Hairday.Models.Servico>

@{
    ViewData["Title"] = "Serviços por Barbeiro";
    Layout = "~/Views/Shared/_Layout_Servicos.cshtml";
}


<h2>Serviços Cadastrados</h2>

@if (Model.Count == 0)
{
    <p>Nenhum serviço cadastrado ainda.</p>
}
else
{
    var barbeirosAgrupados = Model.GroupBy(s => s.CPF_barbeiro);

    foreach (var grupo in barbeirosAgrupados)
    {
        var barbeiro = grupo.First().barbeiro;

        <div class="card my-3">
            <div class="card-header">
                <h4>Barbeiro: @barbeiro.nome (@barbeiro.CPF_barbeiro)</h4>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Serviço</th>
                            <th>Preço</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var servico in grupo)
                        {
                            <tr>
                                <td>@servico.nome_servico</td>
                                <td>R$ @servico.preco.ToString("F2")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}
