@model Cliente
@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}
@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-success">@TempData["Mensagem"]</div>
}
@if (TempData["Erro"] != null)
{
    <div class="alert alert-danger">@TempData["Erro"]</div>
}
    <div class="container">
        <div class="left-side">
            <img src="~/img/barbearia.png" alt="Imagem Barbearia" />
        </div>
        <div class="right-side">
            <div class="form-container">
                <img src="~/img/logoP.png" alt="Logo Hair Day" class="logo" />
                <h2>Cadastre-se</h2>
                <p>Crie sua conta e agende seu horário em instantes!</p>

                <form asp-action="Create" method="post">
                    <input asp-for="nome" placeholder="Nome completo" required />
                    <input asp-for="email" placeholder="Email" required type="email" />
                    <input asp-for="senha" placeholder="Senha" type="password" required />
                    <input asp-for="cidade" placeholder="Cidade" required />
                    <input asp-for="telefone" placeholder="Telefone" required />
                    <button type="submit">Cadastrar-se</button>
                </form>
            </div>
        </div>
    </div>
