@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml"; 
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hair Day - Login</title>
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <div class="main-container">
        <div class="image-side"></div>
        <div class="form-side">
            <div class="form-box">
                <div class="logo">
                    <img src="~/img/logoP.png" alt="Logo Hair Day" />
                </div>
                <h2>Faça Login na sua conta</h2>
                <p class="subtitle">Seu próximo corte está a um clique de distância</p>

                <form asp-controller="Account" asp-action="Login" method="post">
                    <label for="email">Email</label>
                    <input name="Email" type="email" id="email" placeholder="mail@abc.com" required />

                    <input name="Senha" type="password" id="senha" required />
                                                            
                    <button type="submit">Login</button>
                </form>
                <p class="register">Não possui uma conta? <a asp-controller="Account" asp-action="Register">Criar uma conta</a></p>
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="validation-summary">
                        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <p style="color:red">@error.ErrorMessage</p>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>